@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: absolute;
  border-radius: 22px;
  width: 1440px;
  height: 1056px;
}
.back:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
}
.back:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}