@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.headerContainer {
  position: absolute;
  width: 453px;
  height: 77px;
  left: 50px;
  top: 47px;
  display: flex;
  cursor: pointer;
}
.logoImg {
  width: 77px;
  height: 77px;
}
.titleBox {
  width: 372px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #121212;
  margin-bottom: 3px;
  font-family: Pretendard;
}
.subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7D7AFF;
  font-family: Pretendard;
}