@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.listItemContainer {
  display: flex;
  margin: 0 25px;
  width: auto;
  height: 70px;
  border-bottom: 1px solid #ccc;
  font-family: Pretendard;
}
.listItemContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  cursor: pointer;
}
.listItemContainer div:nth-child(1) {
  width: 10%;
}
.listItemContainer div:nth-child(2) {
  width: 25%;
}
.listItemContainer div:nth-child(3) {
  width: 30%;
}
.listItemContainer div:nth-child(4) {
  width: 25%;
}
.listItemContainer div:nth-child(5) {
  width: 10%;
}
.typeBox {
  padding: 7px 10px;
  border-radius: 10px;
  color: white;
}
.zero {
  background-color: #00E0C4;
}
.one {
  background-color: #FF7B7B;
}
.play {
  background-color: #A57CFF;
  font-family: BMJUA;
}
.noPlay {
  background-color: #111;
  font-family: BMJUA;
}